<script>
    let a = [];
    let count =0;

    for (let i= 0; i < 5; i++){
        a[i]= prompt ("nhập giá trị cho mảng: ");
    }
    a.join()
    document.write (a + "</br>");

    for (let i =0 ; i< a.length; i++){
        if (!isNaN(a[i])=== false) {
            count++;
        }
    }
    document.write ( "</br>" + "tổng số số kí tự trong mảng là:" + count);
    </script>
</body>